# DEPENDENCIES
/node_modules
/.pnp
.pnp.js

# TESTING
/coverage

# NEXTJS
/.next/
/out/

# PRODUCTION
/build

# MIS
.DS_Store
*.pem

# DEBUG
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ENV FILES
.env*.local
.env

# VERCEL
.vercel

# TYPESCRIPT
*.tsbuildinfo
next-env.d.ts
